@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #6B3005;   
    --color-secondary: #E1700F; 
    --color-murazon-blue: #E1700F; 
    
    --color-accent-soft: #fff7ed; 
  }
  body {
    font-family: "Plus Jakarta Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}